<web-app>



<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>


<servlet>
   <servlet-name>SuggestAnIdea</servlet-name>
   <servlet-class>SuggestAnIdea</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>SuggestAnIdea</servlet-name>
   <url-pattern>/SuggestAnIdea</url-pattern>
</servlet-mapping>

<servlet>  
<servlet-name>PublishArticle</servlet-name>  
<servlet-class>PublishArticle</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>PublishArticle</servlet-name>  
<url-pattern>/PublishArticle</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>SignUp</servlet-name>  
<servlet-class>SignUp</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>SignUp</servlet-name>  
<url-pattern>/SignUp</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>validateUser</servlet-name>  
<servlet-class>validateUser</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>validateUser</servlet-name>  
<url-pattern>/validateUser</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Results</servlet-name>  
<servlet-class>Results</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Results</servlet-name>  
<url-pattern>/Results</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>validateUser1</servlet-name>  
<servlet-class>validateUser1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>validateUser1</servlet-name>  
<url-pattern>/validateUser1</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Results1</servlet-name>  
<servlet-class>Results1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Results1</servlet-name>  
<url-pattern>/Results1</url-pattern>  
</servlet-mapping>  

<servlet>
   <servlet-name>ContactUs</servlet-name>
   <servlet-class>ContactUs</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>ContactUs</servlet-name>
   <url-pattern>/ContactUs</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>EnterQuiz</servlet-name>
   <servlet-class>EnterQuiz</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>EnterQuiz</servlet-name>
   <url-pattern>/EnterQuiz</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>EnterQuiz1</servlet-name>
   <servlet-class>EnterQuiz1</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>EnterQuiz1</servlet-name>
   <url-pattern>/EnterQuiz1</url-pattern>
</servlet-mapping>

<servlet>
   <servlet-name>studentLogin</servlet-name>
   <servlet-class>studentLogin</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>studentLogin</servlet-name>
   <url-pattern>/studentLogin</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>studentLogin1</servlet-name>
   <servlet-class>studentLogin1</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>studentLogin1</servlet-name>
   <url-pattern>/studentLogin1</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>studentLog</servlet-name>
   <servlet-class>studentLog</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>studentLog</servlet-name>
   <url-pattern>/studentLog</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>studentdash</servlet-name>
   <servlet-class>studentdash</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>studentdash</servlet-name>
   <url-pattern>/studentdash</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>mentorReg</servlet-name>
   <servlet-class>mentorReg</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>mentorReg</servlet-name>
   <url-pattern>/mentorReg</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>logOut</servlet-name>
   <servlet-class>logOut</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>logOut</servlet-name>
   <url-pattern>/logOut</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>adminLog</servlet-name>
   <servlet-class>adminLog</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>adminLog</servlet-name>
   <url-pattern>/adminLog</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>admin</servlet-name>
   <servlet-class>admin</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>admin</servlet-name>
   <url-pattern>/admin</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>mentor_appr</servlet-name>
   <servlet-class>mentor_appr</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>mentor_appr</servlet-name>
   <url-pattern>/mentor_appr</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>mentLog</servlet-name>
   <servlet-class>mentLog</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>mentLog</servlet-name>
   <url-pattern>/mentLog</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>logOut1</servlet-name>
   <servlet-class>logOut1</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>logOut1</servlet-name>
   <url-pattern>/logOut1</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>change</servlet-name>
   <servlet-class>change</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>change</servlet-name>
   <url-pattern>/change</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>change1</servlet-name>
   <servlet-class>change1</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>change1</servlet-name>
   <url-pattern>/change1</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>assign</servlet-name>
   <servlet-class>assign</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>assign</servlet-name>
   <url-pattern>/assign</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>mentorFeed</servlet-name>
   <servlet-class>mentorFeed</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>mentorFeed</servlet-name>
   <url-pattern>/mentorFeed</url-pattern>
</servlet-mapping>
<servlet>
   <servlet-name>Feed</servlet-name>
   <servlet-class>Feed</servlet-class>
</servlet>
 
<servlet-mapping>
   <servlet-name>Feed</servlet-name>
   <url-pattern>/Feed</url-pattern>
</servlet-mapping>
</web-app>